/*
This style file is included in Zluinav theme which is distributed under the terms of the MIT License.
*/
//Skip link to be invisible for sighted visitors
.skip-link
{
position: absolute;
left: -9999px;
top: auto;
width: 1px;
height: 1px;
overflow: hidden;
z-index: -1;
}
//When skip link is focused, make visible again.
.skip-link:focus
{
position: static;
width: auto;
height: auto;
overflow: visible;
z-index: 1;
}