# Auto detect text files and perform LF normalization
* text=auto
*.md linguist-detectable linguist-vendored=false linguist-generated=false linguist-documentation=false
*.toml linguist-detectable linguist-vendored=false linguist-generated=false linguist-documentation=false
*.yaml linguist-detectable linguist-vendored=false linguist-generated=false linguist-documentation=false
*.yml linguist-detectable linguist-vendored=false linguist-generated=false linguist-documentation=false