# Auto detect text files and perform LF normalization
* text=auto
*.toml linguist-detectable linguist-vendored=false linguist-generated=false linguist-documentation=false
*.yaml linguist-detectable linguist-vendored=false linguist-generated=false linguist-documentation=false
*.yml linguist-detectable linguist-vendored=false linguist-generated=false linguist-documentation=false
*.md linguist-detectable
*.txt linguist-detectable linguist-documentation=false linguist-vendered=false linguist-generated=false