.skip-link
{
position: absolute;
left: -9999px;
top: auto;
width: 1px;
height: 1px;
overflow: hidden;
z-index: -1;
}

.skip-link:focus
{
position: static;
width: auto;
height: auto;
overflow: visible;
z-index: 1;
}
body
{
color: Blue;
width: auto;
height: auto;
}
#mainc
{
color: Blue;
width: auto;
height: auto;
}
footer
{
background-color: White;
width: 250px;
height: 250px;
}
.beforefooter
{
background-color: White;
width: auto;
height: auto;
}
#cometome
{
color: Gold;
}
#ownername
{
color: Blue;
}