/*
This style file is included in Zluinav theme which is distributed under the terms of the MIT License.

Note: Style is not verified by sighted people, this is best bet for text display.
*/

/* Skip link to be invisible for sighted visitors */
.skip-link {
	position: absolute;
	left: -9999px;
	top : auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
	z-index: -1;
}

/* When skip link is focused, make visible again. */
.skip-link:focus {
	position: static;
	width: auto;
	height: auto;
	overflow: visible;
	z-index: 1;
}

.tab {
	padding: 10px 20px;
	background-color: #f0f0f0;
	border: 1px solid #ccc;
	margin-right: 5px;
	cursor: pointer;
	transition: background-color 0.3s;
}

.tab:hover {
	background-color: #ddd;
}

.tab.active {
	background-color: #ccc;
}

.tab-content {
	padding: 20px;
	border: 1px solid #ccc;
	border-top: none;
	display: none;
}

/* Enable horizontal scrolling on pre elements if content overflows */
pre {
	overflow: auto;       
}
