{%- import "mcs/general.html" as general -%}
{%- if not ctx %}
{%- set ctx = page | default(value = section) | default(value = "") %}
{%- endif %}
{%- set nojs = config.extra.no_js | default(value = false) %}
{%- if ctx and ctx.extra and (ctx.extra.no_js is defined) %}
{%- set nojs = ctx.extra.no_js %}
{%- endif -%}
{%- if nojs and general::errorable(id = "nojs") == true %}
{{- throw(message = "This shortcode requires JavaScript usage to be enabled") }}
{%- endif %}
{%- if id is not defined or name is not defined %}
{{- throw(message = "The tab shortcode requires the name and id parameters to be set") }}
{%- endif -%}
<div role="tab" class="tab" data-tab-id="{{ id }}" aria-selected="false" onclick="switch_tab('{{ id }}')">{{ name }}</div>