{%- macro title(titles, sep="", overwrite=false) %}
  {%- if not sep or sep == "" %}
    {%- set sep = config.extra.title_sep %}
  {%- endif %}
  {%- if not overwrite %}
    {%- set titles = titles | concat(with = config.title) %}
  {%- endif %}
  {{- titles | join(sep = sep) }}
{%- endmacro title %}
{%- macro get_nav_attributes(attributes) %}
  {%- set navattr = "" %}
  {%- set attrs = [] %}
  {%- for k, v in attributes %}
    {%- set_global attrs = attrs | concat(with = k ~ `="` ~ v ~ `"`) %}
  {%- endfor %}
  {%- set navattr = attrs | join(sep = " ") %}
  {{- navattr }}
{%- endmacro get_nav_attributes %}
{%- macro errorable(id) %}
  {%- set ignores = config.extra.ignore_logs | default(value = []) %}
  {%- if id not in ignores %}
    {{- true }}
  {%- else %}
    {{- false }}
  {%- endif %}
{%- endmacro error %}