{%-macro post_preview(post, tr="", hlevel=3) %}
  {%- set postdesc="" %}
  {%- if post.description and post.description!="" %}
    {%- set postdesc=post.description %}
  {%- endif %}
<div class="post">
  {%- if post.extra.img %}
<img src="{{post.extra.img}}"{% if post.extra.alt %} alt="{{post.extra.alt}}"{% endif %}></img>
  {%- endif %}
<h{{hlevel}}><a href="{{post.permalink | safe}}">{{post.title}}</a>{%if not postdesc==""%}{{postdesc}}{%endif%}</h{{hlevel}}>
{{ self::show_post_authors(post=post, tr=tr) }}
  {%- if post.updated-%}{%-set updated=post.updated-%}{%-else-%}{%-set updated=post.date-%}{%-endif %}
<p>{{tran::get(tr=tr, key="lastmod", def="Last modified: $l$")|replace(from="$l$", to="<script>document.write(ts_to_readable_time(get_timestamp('"~updated~"'), false, ' ago', false));</script>")|safe}}</p>
<p>{{tran::get(tr=tr, key="published", def="Published on: $date$")|replace(from="$date$", to="<script>document.write(local_datetime_string('"~post.date~"'));</script>")|safe}}</p>
  {%- if post.summary %}
    {{- post.summary | safe}}
  {%- endif %}
</div>
{%- endmacro post_preview %}
{%-macro show_post_authors(post, tr="")-%}
  {%- if post.authors-%}{%-set authors=post.authors-%}
  {%- elif config.author-%}{%-set authors=[config.author]-%}
  {%-endif-%}
  {%-if authors %}
    {%-set authorkey="author"-%}{%-if authors | length>1-%}{%-set authorkey=authorkey~"s"-%}{%-endif-%}
<p>{{tran::get(tr=tr, key=authorkey, def=authorkey | capitalize)}}: {{authors | join(sep=", ")}}</p>
  {%-endif-%}
{%-endmacro show_post_authors-%}