{%- import "mcs/post.html" as postmc -%}
{%- import "mcs/content.html" as content -%}
{%- import "mcs/translator.html" as tran -%}
{%- import "mcs/general.html" as general -%}
{%- set tr = load_data(path = config.extra.tr_path ~ "/" ~ lang ~ ".toml", required = false) -%}
{%- if not tr -%}{%- set tr = load_data(path = "themes/zluinav/" ~ config.extra.tr_path ~ "/" ~ lang ~ ".toml", required = false) -%}{%- endif -%}
<!doctype html>
<html lang="{{ lang }}">
<head>
{%- block extrahead %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="{{ get_url(path = "css/theme.css") }}">
<script src="{{ get_url(path = "scripts/theme.js") }}"></script>
{%- endblock extrahead %}
{%- block dmeta %}
{%- if section %}
{%- if section.description %}
<meta name="description" content="{{ section.description }}">
{%- endif %}
{%- elif page %}
{%- if page.description %}
<meta name="description" content="{{ page.description }}">
{%- endif %}
{%- endif %}
{%- endblock dmeta %}
<title>{%- block title -%}{{ config.title }}{%- endblock title -%}</title>
</head>
<body>
{%- block header %}
{%- if config.languages | length > 0 %}
<a href="{{ get_url(path = "lang") | safe }}">Change language</a>
{%- endif %}
<a href="#mainc" class="skip-link">{{tran::get(tr=tr, key="acc_skip_main", def="Skip to main content")}}</a>
{%- if config.extra.nav %}
<a href="#navigation" class="skip-link">{{tran::get(tr=tr, key="acc_skip_nav", def="Skip to navigation")}}</a>
{%- endif %}
<a href="#zlfooter" class="skip-link">{{tran::get(tr=tr, key="acc_skip_footer", def="Skip to footer")}}</a>
<div class="search-container">
<input id="search" type="search" placeholder="🔎 Search the site">
<div class="search-results">
<div class="search-results__items"></div>
</div>
</div>
{%- endblock header %}
{%- block nav %}
{%- if config.extra.nav %}
<nav id="navigation" role="navigation" aria-label="{{tran::get(tr = tr, key = "main_menu", def = "Main menu")}}">
<h2>{{tran::get(tr = tr, key = "main_menu", def = "Main menu")}}</h2>
<ul style="list-style-type:none;">
{%- for pn in config.extra.nav %}
{%- set navattr = "" %}
{%- if pn.attributes %}
{%- set navattr = general::get_nav_attributes(attributes=pn.attributes) %}
{%- endif %}
{%- set nurl = pn.url %}
{%- set ncurl = "" %}
{%- if current_path %}{% set ncurl = current_path %}{% endif %}
{%- if ncurl and not ncurl == "" and not ncurl is starting_with("/") %}{% set ncurl = "/" ~ ncurl %}{% endif %}
{%- if config.default_language %}
{%- if lang and lang == config.default_language %}{% set nurl = pn.url | replace(from = ".l./", to = "") %}
{%- else %}{% set nurl = pn.url | replace(from = ".l.", to = lang) %}
{%- endif %}
{%- endif %}
{%- if pn.id %}
{%- set nname = tran::get(tr = tr, key = pn.id, def = pn.name) %}
{%- else %}
{%- set nname = pn.name %}
{%- endif %}
<li><a{% if navattr %} {{ navattr | safe }}{% endif %} {% if ncurl and ncurl | safe == nurl | safe %}aria-current="page" {% endif %}href="{% if nurl is starting_with("/") and not config.base_url is starting_with("/") %}{{ get_url(path = nurl) | safe }}{% else %}{{ nurl | safe }}{% endif %}"{% if pn.title %} title="{{ pn.title }}"{% endif %}{% if pn.key %} accesskey="{{ pn.key }}"{% endif %}>{{ nname }}</a></li>
{%- endfor %}
</ul>
</nav>
{%- endif %}
{%- endblock nav %}
<main>
<div id="mainc">
{%- block content -%}
{%- endblock content -%}
</div>
</main>
<div id="zlfooter">
{%- block footer %}
<footer>
<p>Powered by <a href="https://github.com/harrymkt/zluinav">UI Navigation</a> theme, created by <a href="https://harrymkt.github.io">Harry Min Khant</a>.</p>
</footer>
{%- endblock footer %}
</div>
{%- block extrafoot %}
<script src="{{ get_url(path = "scripts/copy.js") }}"></script>
<script type="text/javascript" src="{{ get_url(path = "elasticlunr.min.js") }}"></script>
<script type="text/javascript" src="{{ get_url(path = "scripts/search.js") }}"></script>
{%- endblock extrafoot %}
</body>
</html>