{%- extends "base.html" %}
{%- block title %}
{%- set section=get_section(path=page.ancestors | last) %}
{{- general::title(titles=[page.title, section.title]) }}
{%- endblock title %}
{%- block content %}
<h1>{{page.title}}</h1>
{%- if page.updated %}<p>{{ tran::get(tr = tr, key = "updated", def = "Updated on: $date$") | replace(from = "$date$", to = "<script>document.write(local_datetime_string('" ~ page.updated ~ "'));</script>") | safe }}</p>{% endif %}
{{ postmc::show_post_authors(post=page, tr=tr) }}
<p>{{tran::get(tr=tr, key="published", def="Published on: $date$")|replace(from="$date$", to="<script>document.write(local_datetime_string('"~page.date~"'));</script>")|safe}}</p>
<p>{{tran::get(tr=tr, key="wordcount", def="Total words: $count$") | replace(from="$count$", to=page.word_count|as_str)}}</p>
<p>{{tran::get(tr=tr, key="readtime", def="Reading time: $r$")|replace(from="$r$", to=page.reading_time~"minute")}}</p>
<br>
{{ content::process(page=page) | safe }}
{%- endblock content %}