{%- extends "base.html" %}
{%- block title %}
{{- page.title}}{{config.extra.title_sep}}{{super() }}
{%- endblock title %}
{%- block footer %}
{{- super() }}
<script>
function goToLanguage() {
	var selectedLanguage = document.getElementById("language").value;
	if (selectedLanguage) {
		window.location.href = selectedLanguage;
	}
}
</script>
{%- endblock footer %}
{%- block content %}
<h1>Select Your Language</h1>
<form onsubmit="goToLanguage(); return false;">
<label for="language">Choose a language</label>
<select id="language" name="language">
<option value="">--Select--</option>
<option value="{{get_url(path="", lang=config.default_language)}}">{{tran::get(tr=tr, key="name")}}</option>
{%- for lname, language in config.languages %}
<option value="{{get_url(path = "", lang = lname)}}">{{tran::get(language=lname, key="name")}}</option>
{%- endfor %}
</select>
<br><br>
<input type="submit" value="Change">
</form>
{%- endblock content %}