{%- extends "base.html" %}
{%- block title %}
{{- page.title}}{{config.extra.title_sep}}{{super() }}
{%- endblock title %}
{%- block main %}
<h1>Select Your Language</h1>
<nav aria-label="Language Selector">
<ul style="list-style-type: none;">
<li><a href="{{get_url(path="", lang=config.default_language)}}">{{tran::get(tr=tr, key="name")}}</a></li>
{%- for lname, language in config.languages %}
<li><a href="{{get_url(path = "", lang = lname)}}">{{tran::get(language=lname, key="name")}}</a></li>
{%- endfor %}
</ul>
</nav>
{%- endblock main %}