{%- extends "index.html" %}
{%-block title-%}
{{section.title}}{%if paginator.current_index>1%} (page {{paginator.current_index}}){%endif%} - {{super()}}
{%-endblock title-%}
{% block content %}
{{super()}}
{% for post in paginator.pages %}
{%-set posttitle=post.title-%}
{%-if post.description and post.description!=""-%}
{%- set posttitle = posttitle ~ " (" ~ post.description ~ ")" -%}
{%-endif-%}
<h3><a href="{{post.permalink | safe}}">{{posttitle}}</a></h3>
<p>Published on: {{post.date}}.</p>
{% endfor %}
{% endblock content %}